{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="static/admin/img/favicon.svg" type="image/x-icon">
        <meta name="yandex-verification" content="812ac2fe52205e9e"/>
        <title>{% block title %}Media Utils{% endblock %}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
        <!-- Yandex.Metrika counter -->
            <script type="text/javascript" >
            (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(71749279, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
            });
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/71749279" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </head>
    <body>
        <div id="header">
            <span class="logo"><a href="{% url "main_index" %}">Media Utils</a></span>
                <ul class="menu">
                    <li {% if section == 'imgtopdf' %} class='selected' {% endif %}>
                        <a href="{% url "app_imgtopdf:imgtopdf" %}">Image to PDF converter</a>
                    </li>
                    <li {% if section == 'ytdl' %} class='selected' {% endif %}>
                        <a href="{% url "app_ytdl:ytdl" %}">YouTube-dl</a>
                    </li>
                </ul>
        </div>
        <div id="content">
            {% block content %}
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript" >
                (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                ym(71749279, "init", {
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                });
                </script>
                <noscript><div><img src="https://mc.yandex.ru/watch/71749279" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                <!-- /Yandex.Metrika counter -->
            {% endblock %}
        </div>
    </body>
</html>